@model ProjetoPCD.Models.Candidatura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCandidatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCandidatura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_Candidatura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
